body{
   margin:0;
   text-align: center;
   font-family: "merriweather", sans-serif;
   color: #40514e;
   
}
h1{
    font-size: 5.625rem;
    margin: 50px auto 0 auto ;
    font-family: "sacramento",cursive;
    color: #66BFBF;
    line-height: 2;
}
h2{
    color: #66BFBF;
    font-family: "montserrat",sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
}

h3{
    color: #11999e;
    font-family: "montserrat",sans-serif;
        
}

 .top-container{
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
}
.middle-container{
    margin: 100px 0 ;
}
.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
 
}
a{
    color:#01558d;
    font-family: "montserrat",sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: #EAF6F6;
}

  
.pro{
    text-decoration: underline;
}
p{
    line-height: 2;
}
.intro{
    width: 30%;
    margin: auto;
}
hr{
    border: dotted 6px ;
    border-bottom: none;
    width: 4%;
    margin: 100px auto 80px   ;

}
.bottom-cloud{
    position: absolute;
   left: 300px;
   bottom: 300px;
}
.top-cloud{
    position: absolute;
   right: 400px;
   top: 50px;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.circleimage-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.languages-img{
    width: 25%;
    float: right;
    margin-right: 30px;

}
.contact-message{
    width: 40%;
    margin: 40px auto 60px;
}
.copyright{
    color: #EAF6F6;
    font-size: 1rem;
    padding: 20px 0;
}


.btn {
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }


  .submit{
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .submit:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
